.navbar-right { float: right !important; }

@media (max-width: 768px) {
	.playsms-responsive, input, select, option, textarea {
		width: 335px;
	}
	.label-sizer {
		width: 345px;
	}
	.dropdown-menu hr {
		display: none;
	}
}

@media (max-width: 600px) {
	.playsms-responsive, input, select, option, textarea {
		width: 251px;
	}
	.label-sizer {
		width: 261px;
	}
	.dropdown-menu hr {
		display: none;
	}
	.navbar-right { float: left !important; }
	.navbar-header:after { clear: none; }
	.navbar-nav.navbar-right > li { float: left; }
	.navbar-collapse:before { clear: both; }
	.navbar-collapse { overflow-y: hidden; }
	.navbar-collapse.in { overflow-y: visible; }
	.navbar-collapse.in > ul { border-top: none; }
}

@media (max-width: 480px) {
	.playsms-responsive, input, select, option, textarea {
		width: 200px;
	}
	.label-sizer {
		width: 210px;
	}
	.dropdown-menu hr {
		display: none;
	}
}

@media (max-width: 320px) {
	.playsms-responsive, input, select, option, textarea {
		width: 120px;
	}
	.label-sizer {
		width: 130px;
	}
	.dropdown-menu hr {
		display: none;
	}
}

@media (max-width: 240px) {
	.playsms-responsive, input, select, option, textarea {
		width: 75px;
	}
	.label-sizer {
		width: 85px;
	}
	.dropdown-menu hr {
		display: none;
	}
}



#main-content {
	padding-top: 0px;
	height: 100%;
	overflow: hidden;
	width:90% !important;
}
#main-menu{
	display:none;
}

#main-submenu {
	background: none;
	border-radius: 0px;
	top: 0px;
	position: absolute;
	z-index: 1000;
}

#main-submenu div {
	padding: 5px;
}
#main-footer{
	height:30px;
	bottom:0;
	right:0;
	width:100%;
	position:fixed;
	background-color:#191919 !important;
	color:#fff !important;
}
#main-footer p{
	margin-top:10px;
}
.playsms-dialog-text{
	color:#fff;
}


/* simple sidebar  ------------------------------------------------*/
/* Toggle Styles */

#main-body {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#main-body.toggled {
    padding-left: 200px;
}

#sidebar-main-body {
    z-index: 1000;
    position: fixed;
    left: 200px;
    top:0px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow: auto;
    background: #375a7f;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
h1,h2,h3{
	color:#457BB5 !important;
}

#main-body.toggled #sidebar-main-body {
    width: 200px;
}

#page-content-main-body {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#main-body.toggled #page-content-main-body {
    position: absolute;
    margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav-menu{
    width: 200px;
    margin: 0;
    padding: 0px;
    list-style: none;
    background:#30465D;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav-menu li {
    text-indent: 20px;
    line-height: 30px !important;
    font-size:0.9em;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    font-size:0.9em;
}
.sidebar-nav li span{
	margin-left:50px;
	font-size:1.5em;
	line-height: 40px;
}

.sidebar-nav-menu li a ,
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav-menu li a:hover ,
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #375a7f;
    background: #fff;
}

.sidebar-nav-menu li a:active,
.sidebar-nav-menu li a:focus ,
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle{
	bottom:0;
	margin:20px 10px 10px 20px;
	position:fixed;
	z-index:999;
}

@media(min-width:768px) {
    #main-body {
        padding: 10px 0 0 170px ;
        margin-left:10px;
        width:auto;
    }

    #main-body.toggled {
        padding-left: 0;
    }

    #sidebar-main-body {
        width: 200px;
    }
    #main-submenu,
    #main-content{
			margin-left:20px;
    }	

    #main-body.toggled #sidebar-main-body {
        width: 0;
    }

    #page-content-main-body {
        padding: 10px;
        position: relative;
    }

    #main-body.toggled #page-content-main-body {
        position: relative;
        margin-right: 0;
    }
}

::-webkit-scrollbar {width: 7px;height: 7px;}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);background:#001D39;}
::-webkit-scrollbar-thumb {border-radius:5px;background: #304C66;}
::-webkit-scrollbar-thumb:hover {background: #DF691A;}
::-webkit-scrollbar-track:hover {}

::-moz-scrollbar {width: 7px;height: 7px;}
::-moz-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);background:#001D39;}
::-moz-scrollbar-thumb {border-radius:5px;background: #304C66;}
::-moz-scrollbar-thumb:hover {background: #DF691A;}
::-moz-scrollbar-track:hover {}
